.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: rgb(62, 245, 62);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li{
  list-style: none;
}

.nav-links a {
  color: rgb(23, 69, 238);
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
